---
import Layout from "../layouts/Layout.astro";
//@ts-ignore
import Gallery from "../components/gallery.astro";
---

<Layout title="Gallery">
  <section>
    <h1 class="my-10 font-heebo text-6xl font-black lg:text-8xl">גלריה</h1>
    <div class="px-3">
      <Gallery />
    </div>
  </section>
</Layout>
