---
import Layout from "../layouts/Layout.astro";
import CountryCard from "../components/CountryCard.astro";
---

<Layout title="The Dream Tour | Tours">
	<div class="m-auto flex w-5/6 flex-wrap justify-center gap-5 p-6">
		<CountryCard title="Country" text="hi" />
	</div>
</Layout>
