---
export interface Props {
	title: string;
	text: string;
	image: string;
}

const { title, text, image } = Astro.props;
---

<div class="absolute w-screen"></div>

<div
	class="relative aspect-square w-full flex-[0_0_calc(16.66%-20px)] origin-center cursor-pointer rounded-xl border-4 bg-gray-300 bg-center shadow-lg transition-all hover:-translate-y-2 hover:rounded-2xl hover:shadow-xl hover:brightness-110"
	data-country={title}
	id="cc"
>
	<img src=`${image}` alt="" class="h-full w-full rounded-xl object-cover" />
	<div
		class="absolute left-1/2 top-1/2 w-2/3 -translate-x-1/2 -translate-y-1/2 rounded-lg bg-slate-900 bg-opacity-[45.5%] text-white"
	>
		<h1 class="text-xl font-bold">{title}</h1>
		<p class="text-md truncate font-light tracking-wide">
			{text}
		</p>
	</div>
</div>

<script>
	// @ts-ignore
	const div = document.getElementById("cc");

	div.addEventListener("click", () => {
		// @ts-ignore
		window.location.href = "/tour/" + div.dataset.country;
	});
</script>
