---
const { pfp, name, link } = Astro.props;
---

<div class="swiper-slide">
  <blockquote class="bg-gray-100 p-8">
    <div class="flex items-center gap-4">
      <img alt="pfp" src={pfp} class="h-16 w-16 rounded-full object-cover" />

      <div class="text-sm">
        <p class="font-medium">{name}</p>
      </div>
    </div>
    <a href={link}
      ><p class="relative mt-4 text-gray-500">
        <span class="text-xl">&ldquo;</span>

        <slot />

        <span class="text-xl">&rdquo;</span>
      </p></a
    >
  </blockquote>
</div>
