---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title=`The Dream Tour | ${frontmatter.title}`>
	<div class="p-9">
		<div
			class="flex flex-col items-center justify-center rounded-lg bg-gray-50 p-10"
		>
			<h1 class="mb-5 text-4xl font-bold tracking-wide">
				{frontmatter.title}
			</h1>
			<br />
			<p><slot /></p>
		</div>
	</div>
</Layout>
